$reset: 0px;
$mainColor: #fff;
$secondMainColor: #ff9306;
$blockColor1: #0082ae;
$blockColor2: #006383; 

@mixin estructuraFont( $tamañoFontGeneral : 16px ){
	
	font-family: 'Rokkitt';
	font-size: $tamañoFontGeneral;
	font-weight:400;
}

@mixin estructuraLinks( $EspaciadoGeneralRight : 10px ){ 
	color:$linksColor;
	margin: 0 $EspaciadoGeneralRight 0 0;
	text-decoration:none;
}

@mixin reset ($reset : 0px){
	
	margin:$reset;
	padding: $reset;
}

@mixin flotando( $negativeSpace : -5px ){
	
	display: inline-block;
	vertical-align: top;
	margin: 0 $negativeSpace  0 0;
}

@mixin transiciones( $propiedad : color, $duracion : 1s, $tipo : ease-in ) {
	
	-webkit-transition: $propiedad $duracion $tipo;  
   -moz-transition:$propiedad $duracion $tipo;  
   -o-transition:$propiedad $duracion $tipo;  
   transition:$propiedad $duracion $tipo;  
}

@mixin border ( $tamaño : 5px, $densidad : solid, $color : #92cf16 ) {
	
	border-top: $tamaño $densidad $color;
	border-bottom: $tamaño $densidad $color;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	
	background: url("images/bg-+-1.png"),
		
		url("images/bg-2.jpg");

	color: $mainColor;
	font-family:'PT Sans', sans-serif;

}

h1{

	color: $secondMainColor;
	font-size: 50px;
	font-weight: 700;
	@include flotando;

	span{

		font-size: 40px;	
		color: #fff; 
		display: block;

	}
}


h3{ 
	
	color: #ff9306;
	font-size: 30px;

	span{

		color: $mainColor;

	}

}

header{
	
	background: rgb( 0, 76, 101 ) url("images/header-bg.png");
	@include border( 15px );
	border-bottom: none;
	position: relative;
	z-index: 1;

	.container{

		@include border;
		border-top: none;
		overflow: hidden;

		div{

			float: left;
			padding: 10px 0;

		}

		ul{

			float: right;

			li{

				@include flotando;

				padding: 35px;

				margin: 0 -5px 0 0;

				&:first-child{ background: rgba( 0, 99, 131, 0.5 ); }

				&:last-child{ background: rgb( 0, 130, 174); }

			}

		}

	}

}

.container{ 
	
	width: 1000px;
	margin: 0 auto;	
}

 #block-1{

 	padding: 20px 0;

 	ul{ 

 		@include flotando;
 		margin-left: 10%;

 		li{ 

 			@include flotando; 

 			&:nth-child(1){ 

 				a{ 
 					background-position: -100px 0px; 
 					padding: 30px 45px; 

 					&:hover{

 						background-position: -100px 90px;

 					}
 				}

 			}

 			&:nth-child(2){ 

 				a{ 
 					background-position: -200px 0; 
 					padding: 30px 72px; 

 					&:hover{

 						background-position: -200px 93px;

 					}
 				}
 			}

 			&:nth-child(3){ 

 				a{ 
 					background-position: 0px 0; 
 					padding: 50px 45px 26px 45px;

 					&:hover{

 						background-position: 0px 100px;

 					} 
 				}
 			}

 			&:nth-child(4){ 

 				a{ 
 					background-position: -383px 0; 
 					padding: 30px 72px; 

 					&:hover{

 						background-position: -383px 100px;

 					} 
 				}

 			}
 		}

 		a{ 
 			background: url("images/sprite.png");
 			display: block;
 			text-indent: -9999px;
 			@include transiciones(all, 0.3s);

 			&:hover{ -webkit-transform: rotate(360deg); }
 		}
 	}

}

#feature{
	
	padding: 30px 0 35px 0;

	h3{

		padding: 0 0 20px 0;

	}

	#horarios{

		@include border;

		li{

			height: 50px;
			padding: 15px 36px;
			@include transiciones(all, 0.5s ); 

			&:nth-child(1){ background: $blockColor2; }

			&:nth-child(2){ background: $blockColor1; }

			&:nth-child(3){ background: $blockColor2; }

			&:nth-child(4){ background: $blockColor1; }

			&:nth-child(5){ background: $blockColor2; }

			&:nth-child(6){ background: $blockColor1; }

			&:hover{  

			-webkit-transform: scale(1.1);

			}

		}

		p{

			padding: 0 0 10px 0;
			text-align: center;

		}

	}

	li{

		@include flotando;

	}

}

#primary{
	
	background: $blockColor2;

	p{



	}
}

#secondary{
	
	background: $blockColor1;
}

#sponsors{
	
	@include border;
	padding: 10px 0;

	li{

		margin: 0 32px 0 0;

		&:last-child{

			margin-right: 0;

		}

		&:nth-child(2){

			padding: 17px 0 0 0;

		}

		&:nth-child(3){

			padding: 20px 0 0 0;

		}

		&:nth-child(4){

			padding: 16px 0 0 0;

		}

	}	

}






























